@page "/drivers/edit/{id}"
@inject IDriverService driverService
@inject NavigationManager NavigationManager

<div class="card bg-white">
    <div class="card-header  d-flex justify-content-between align-items-center" style="background-color:white;">
        <h5>
            <i class="oi oi-people mr-2"></i>
            Create Admin User
        </h5>
    </div>
    <div class="card-body">
        @if (!string.IsNullOrEmpty(error))
        {
            <div class="alert alert-danger mt-3 mb-0">@error</div>
        }
        <EditForm Model="@model" OnValidSubmit="HandleValidSubmit">
            <div class="form-group row">
                <label for="Name" class="col-md-12 col-form-label">Name</label>
                <div class="col-md-12">
                    <InputText @bind-Value="model.Name" class="form-control" id="Name" />
                    <ValidationMessage For="@(() => model.Name)" />
                </div>
            </div>
            <div class="form-group row">
                <label for="Phone" class="col-md-12 col-form-label">Phone</label>
                <div class="col-md-12">
                    <InputText @bind-Value="model.Phone" class="form-control" id="Phone" />
                    <ValidationMessage For="@(() => model.Phone)" />
                </div>
            </div>
            <div class="form-group row">
                <label for="Email" class="col-md-12 col-form-label">Email</label>
                <div class="col-md-12">
                    <InputText @bind-Value="model.Email" class="form-control" id="Email" />
                    <ValidationMessage For="@(() => model.Email)" />
                </div>
            </div>
            <div class="form-group row">
                <label for="Image" class="col-md-12 col-form-label">Image</label>
                <div class="col-md-12">
                    <InputFile OnChange="@LoadFile" id="" />
                    <ValidationMessage For="@(() => model.Image)" />
                </div>
            </div>
            <div class="form-group row mb-0">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-success">
                        Add @if (loading)
                        {
                            <Spinner />
                        }
                    </button>
                </div>
            </div>
        </EditForm>
    </div>
</div>


@code {
    [Parameter]
    public string id { get; set; }
    private bool loading;
    protected CreateDriverForm model = new CreateDriverForm();
    private string error;

    protected override async Task OnInitializedAsync()
    {
        await Load();
    }


    public async Task Load()
    {
        loading = true;
        var response = await driverService.Get(Guid.Parse(id));
        model = new ()
        {
            Name = response.Name,
            Email = response.Email,
        };
        loading = false;
    }


    private async Task HandleValidSubmit()
    {
        try
        {
            loading = true;
            var reponses = await driverService.Edit(Guid.Parse(id), model);
            if (reponses != null)
            {
                NavigationManager.NavigateTo("/drivers");
            }
        }
        catch (Exception ex)
        {
            error = ex.Message;
            loading = false;
            StateHasChanged();
        }
    }

    private void LoadFile(InputFileChangeEventArgs e)
    {

        try
        {
            model.Image = e.File;
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}
