@page "/Drivers"
@inject IDriverService driverService
@inject IConfiguration configuration
<div class="card bg-white">
    <div class="card-header  d-flex justify-content-between align-items-center" style="background-color:white;">
        <h5>
            <i class="oi oi-people mr-2"></i>
            Drivers
        </h5>
        <a href="drivers/create" class="btn ml-auto btn-sm btn-success">
            <i aria-hidden="true" class="oi oi-plus mr-2"></i> Add Driver
        </a>
    </div>
    <div class="card-body">
        @if (drivers == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <table class="table table-responsive-sm table-bdrivered">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>CreatedOn</th>
                        <th class="text-right pr-4">Options</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var driver in drivers)
                    {
                        <tr>
                            <td>
                                @if (driver.Image != null)
                                {
                                    <img width="30" height="30" src="@configuration["apiUrl"]/@driver.Image" class="rounded-circle" />
                                }
                                else
                                {
                                    <div class="rounded-circle" style="background-color:darkmagenta;width:30px;height:30px;"></div>
                                }
                            </td>
                            <td>
                                    @driver.Name
                            </td>
                            <td>@driver.Phone</td>
                            <td>@driver.Email</td>
                            <td>@driver.CreatedOn.Value.ToShortDateString()</td>
                            <td class="text-right">
                                <a href="drivers/edit/@driver.Id" class="btn btn-light btn-sm">
                                    <i class="oi oi-pencil mr-1 text-info"></i>
                                </a>
                                <button onclick="" class="btn btn-light btn-sm">
                                    <i class="oi oi-trash mr-1 text-danger"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage" />
        }

    </div>
</div>


@code {
    private bool loading;
    protected IEnumerable<DriverResponse> drivers;
    protected MetaData MetaData = new MetaData();
    protected PagingRequest model = new PagingRequest()
    {
        PageSize = 5,
    };

    private async Task SelectedPage(int page)
    {
        model.PageNumber = page;
        await Load();
    }

    public async Task Load()
    {
        loading = true;
        var reponses = await driverService.GetDrivers(model);
        drivers = reponses;
        MetaData = reponses.MetaData;
        loading = false;
    }

    protected override async Task OnInitializedAsync()
    {
        await Load();
    }
}
